{template 'common/header'}
<div class="new-keyword">
	<ol class="breadcrumb we7-breadcrumb">
		<a href="{url 'platform/reply' array('m' => $m)}"><i class="wi wi-back-circle"></i> </a>
		<li>
			<a href="{url 'platform/reply' array('m' => $m)}">自动回复管理</a>
		</li>
		<li>
			{if empty($rid)}<a href="{url 'platform/reply/post' array('m' => $m)}">新建{$module['title']}</a></li>{/if}
			{if !empty($rid)}<a href="{php echo url('platform/reply/post', array('m' => $m, 'rid' => $rid))}">编辑{$module['title']}</a></li>{/if}
		</li>
	</ol>
	{if $m == 'keyword' || $m == 'userapi' || !in_array($m, $sysmods)}
	<form id="reply-form" action="{php echo url('platform/reply/post', array('m' => $m, 'rid' => $rid))}" method="post" enctype="multipart/form-data" id="js-reply-form" ng-controller="KeywordReply" ng-cloak>
		<div class="we7-form">
		<input type="hidden" name="rid" value="{$rid}" />
		<div class="form-group">
			<label for="" class="control-label col-sm-2">规则名称</label>
			<div class="form-controls col-sm-8">
				<input type="text" class="form-control" placeholder="请输入回复规则的名称" name="rulename" value="{if empty($reply['name']) && !empty($_GPC['name'])}{$_GPC['name']}{else}{$reply['name']}{/if}">
				<span class="help-block">您可以给这组触发关键字规则起一个名字, 方便下次修改和查看. </span>
			</div>
		</div>
		<div class="form-group" ng-show="reply.showAdvance">
			<label for="" class="control-label col-sm-2">全局置顶</label>
			<div class="form-controls col-sm-8">
				<input id="istop-1" type="radio" name="istop" ng-model="reply.entry.istop" ng-value="1" value="1" {if intval($reply['displayorder'] >= 255)} checked="checked"{/if}/>
				<label for="istop-1" >是</label>
				<input id="istop-2" type="radio" name="istop" ng-model="reply.entry.istop" ng-value="0" value="0" {if intval($reply['displayorder'] < 255)} checked="checked"{/if}/>
				<label for="istop-2">否</label>
			</div>
			
		</div>
		<div class="form-group" ng-show="reply.entry.istop == 0 && reply.showAdvance">
			<label for="" class="control-label col-sm-2">回复优先级</label>
			<div class="form-controls col-sm-4">
			<input type="number" min="0" max="254" name="displayorder_rule" value="{if intval($reply['displayorder']) < 255}{$reply['displayorder']}{/if}" placeholder="输入这条回复规则的优先级" class="form-control">
			<span class="help-block">
				规则优先级，越大则越靠前，最大不得超过254
			</span>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="control-label col-sm-2">&nbsp;</label>
			<div class="form-controls color-default col-sm-8">
				<a href="javascript:void(0);" ng-click="changeShowAdvance()"><span ng-show="!reply.showAdvance">展开</span><span ng-show="reply.showAdvance">收起</span>高级设置<i class="fa fa-chevron-down" ng-class="{'fa-chevron-down': !reply.showAdvance, 'fa-chevron-up': reply.showAdvance}"></i></a>
			</div>
		</div>
		<div class="form-group">
			<input type="hidden" name="keywords">
			<input type="hidden" name="reply_type">
			<label class="control-label col-sm-2">触发关键字</label>
			<div class="form-controls col-sm-8 we7-padding-bottom">
				<input id="reply_type-1" type="radio" name="reply_type" ng-model="reply.entry.reply_type" ng-value="2" value="2" {if intval($reply['reply_type'] == 2)} checked="checked"{/if}/>
				<label for="reply_type-1" >单一</label>
				<input id="reply_type-2" type="radio" name="reply_type" ng-model="reply.entry.reply_type" ng-value="1" value="1" {if intval($reply['reply_type'] == 1)} checked="checked"{/if}/>
				<label for="reply_type-2">混合</label>
			</div>
			
			<div class="form-controls col-sm-8 col-sm-offset-2" ng-if="reply.entry.reply_type == 2">
				<div class="input-group">
					<div class="input-group-btn">
						<div class="font-default">
							<select name="trigger_type" class="we7-select" ng-model="reply.advanceTrigger" ng-change="changeTriggerType()">
								<option value="exact" ng-selected="!reply.advanceTrigger">精准触发</option>
								<option value="indistinct" ng-selected="reply.advanceTrigger">模糊触发</option>
							</select>
						</div>
					</div>
					<input type="text" class="keyword-input form-control" max="100" id="keyword-input-exact" ng-model="reply.keyword.exact" ng-blur="checkKeyWord($event);" data-type="keyword">
					<span class="input-group-btn"><a href="javascript:;" class="btn btn-default" id="keyword-emoji" ng-init="initEmotion();"><i class="fa fa-github-alt"></i> 表情</a></span>
				</div>
				<span class="help-block">多个关键字请使用逗号隔开，如天气，今日天气</span>
				<span class="help-block"></span><!-- 提示语标签，勿删 -->
			</div>

			<div class="form-controls col-sm-8 col-sm-offset-2" ng-if="reply.entry.reply_type == 1">
				<div class="we7-form">
					<div class="form-group">
						<label for="" class="control-label col-sm-3">精准触发</label>
						<div class="form-controls input-group col-sm-6">
							<input type="text" class="keyword-input form-control" max="30" id="keyword-exact" ng-model="reply.keyword.exact" ng-blur="checkKeyWord($event);" data-type="keyword">
							<span class="input-group-btn"><a href="javascript:;" class="btn btn-default" id="emoji-exact" ng-init="initEmotion();"><i class="fa fa-github-alt"></i> 表情</a></span>
						</div>
						<span></span><span class="help-block"></span><!-- 提示语标签，勿删 -->
					</div>
					<div class="form-group">
						<label for="" class="control-label col-sm-3">包含关键字触发</label>
						<div class="form-controls input-group col-sm-6">
							<input type="text" class="keyword-input form-control" max="30" id="keyword-indistinct" ng-model="reply.keyword.contain" ng-blur="checkKeyWord($event);" data-type="keyword">
							<span class="input-group-btn"><a href="javascript:;" class="btn btn-default" id="emoji-indistinct"><i class="fa fa-github-alt"></i> 表情</a></span>
						</div>
						<span></span><span class="help-block"></span><!-- 提示语标签，勿删 -->
					</div>
					<div class="form-group">
						<label for="" class="control-label col-sm-3">正则匹配关键字触发</label>
						<div class="form-controls input-group col-sm-6">
							<input type="text" class="keyword-input form-control" max="30" id="keyword-regexp" ng-model="reply.keyword.regexp" ng-blur="checkKeyWord($event);" data-type="keyword">
							<span class="help-block">只支持一条正则</span>
						</div>
						<span></span><span class="help-block"></span><!-- 提示语标签，勿删 -->
					</div>
					<span class="help-block"></span>
				</div>
				<span class="help-block">多个关键字请使用逗号隔开，如天气，今日天气</span>
			</div>				

		</div>
		<div class="form-group">
			<label for="" class="control-label col-sm-2">是否开启</label>
			<div class="form-controls col-sm-8">
				<label>
					<input name="status" class="form-control" ng-model="reply.status" ng-hide="1">
					<div class="switch" ng-class="{'switchOn': reply.status}" ng-click="changeStatus()"></div>
				</label>
				<span class="help-block">您可以选择临时禁用这条回复.</span>
			</div>
		</div>
		</div>
		{if $m ==  'userapi'}
			{php echo module_build_form('userapi', $rid)}
		{elseif in_array($m, $sysmods)}
			{php echo module_build_form('core', $rid, array('basic'=> false,'news'=> false,'image'=> false,'music'=> false,'voice'=> false,'video'=> false))}
		{else}
			{php echo module_build_form($m, $rid)}
		{/if}
		<div class="form-group we7-form">
			<input type="hidden" name="token" value="{$_W['token']}">
			<input type="submit" name="submit" value="发布" class="btn btn-primary btn-submit"/>
		</div>
	</form>
	{/if}
	{if $m == 'apply'}
	<div id="js-apply" ng-controller="ApplyReply" ng-cloak>
		<div class="we7-step">
			<ul>
				<li class="active">
					1 选择应用 
				</li>
				<li>
					2 添加应用关键字
				</li>
			</ul>
		</div>
		<ul class="letters-list">
			<li ng-repeat="letter in alphabet" ng-style="{'background-color': letter == activeLetter ? '#ddd' : 'none'}" ng-class="{'active': letter == activeLetter}" ng-click="searchModule(letter)">
				<a href="javascript:;" ng-bind="letter"></a>
			</li>
		</ul>
		{if $moudles}
		<div class="keyword-app">
			<ul class="we7-list-group">
			{if $enable_modules}
				{loop $enable_modules $key $row}
				{if empty($current_user_permission_types) || in_array($key, $current_user_permission_types) || $row['issystem'] == 1}
				<li data-pinyin="{$row['title_first_pinyin']}" ng-show="activeLetter ? activeLetter == '{$row[title_first_pinyin]}' : '1'">
					<div class="we7-list-item">
						<!-- <span class="keyword-status" title="已启用"><i class="fa fa-2x fa-check-circle text-success"></i></span> -->
						<div class="keyword-app-info">
							<img src="{$row['icon']}" alt="{$row['title']}"/>
							<p>{$row['title']}</p>
							<a href="{if $row['type'] != 'system'}./index.php?c=home&a=welcome&do=ext&m={$row['name']}{else}./index.php?c=platform&a=reply{/if}" class="cover-dark">
								<span class="cover-circle">进入</span>
							</a>
						</div>
					</div>
				</li>
				{/if}
				{/loop}
			{/if}
			{if $unenable_modules}
				{loop $unenable_modules $key $row}
				<li data-pinyin="{$row['title_first_pinyin']}" ng-show="activeLetter == {$row['title_first_pinyin']}">
					<div class="we7-list-item">
						<!-- <span class="keyword-status" title="未启用"><i class="fa fa-2x fa-times-circle text-warning"></i></span> -->
						<div class="keyword-app-info">
							<img src="{$row['icon']}" alt="{$row['title']}"/>
							<p>{$row['title']}</p>
							<a href="{if $row['type'] != 'system'}./index.php?c=home&a=welcome&do=ext&m={$row['name']}{else}./index.php?c=platform&a=reply{/if}" class="cover-dark">
								<span class="cover-circle">进入</span>
							</a>
						</div>
					</div>
				</li>
				{/loop}
			{/if}
			</ul>
		</div>
		{/if}
	</div>
	{/if}
</div>
<script>
{if $m == 'keyword' || $m == 'userapi' || !in_array($m, $sysmods)}
require(['underscore'], function() {
	angular.module('replyFormApp').value('config', {
		replydata: {php echo json_encode($reply)},
		uniacid: {php echo json_encode($_W['uniacid'])},
		links: {
			postUrl: "{php echo url('platform/reply/post', array('m' => $_GPC['m']));}",
		},
	});
	angular.bootstrap($('#reply-form'), ['replyFormApp']);
});
{/if}
{if $m == 'apply'}
	angular.bootstrap($('#js-apply'), ['replyFormApp']);
{/if}
</script>
{template 'common/footer'}